<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration >
<configuration scan="true">
	<timestamp key="byDate" datePattern="yyyyMMdd"/>

	<appender name="StdoutLogger" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--
				<pattern>%d{yyyy-MM-dd HH:mm:ss}[%-5level] [%thread]:%caller{1}%message%n %caller{10}%n ${user.dir}</pattern>
			-->
			<pattern>[%-5level] %date{yyyy-MM-dd HH:mm:ss} %logger \(%file:%line\) - %message%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="FrontierLogger" class="ch.qos.logback.core.FileAppender">
		<Append>false</Append>
		<file>Frontier.log</file>
		<encoder>
			<pattern>[%-5level] %date{yyyy-MM-dd HH:mm:ss} %logger \(%file:%line\) - %message%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<appender name="FetcherLogger" class="ch.qos.logback.core.FileAppender">
		<Append>false</Append>
		<file>Nio.log</file>
		<encoder>
			<pattern>[%-5level] %date{yyyy-MM-dd HH:mm:ss} %logger \(%file:%line\) - %message%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<appender name="WorkQueueLogger" class="ch.qos.logback.core.FileAppender">
		<Append>false</Append>
		<file>WorkQueue.log</file>
		<encoder>
			<pattern>[%-5level] %date{yyyy-MM-dd HH:mm:ss} %logger \(%file:%line\) - %message%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<appender name="SinkLogger" class="ch.qos.logback.core.FileAppender">
		<Append>false</Append>
		<file>Sink.log</file>
		<encoder>
			<pattern>[%-5level] %date{yyyy-MM-dd HH:mm:ss} %logger \(%file:%line\) - %message%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<logger name="org.hustsse.spider.framework.Frontier" level="DEBUG" additivity="false">
		<appender-ref ref="FrontierLogger" />
	</logger>

	<logger name="org.hustsse.spider.handler.crawl.fetcher" level="DEBUG" additivity="false">
		<appender-ref ref="FetcherLogger" />
	</logger>

	<logger name="org.hustsse.spider.WorkQueue" level="DEBUG" additivity="false">
		<appender-ref ref="WorkQueueLogger" />
	</logger>

	<logger name="org.hustsse.spider.sink" level="DEBUG" additivity="false">
		<appender-ref ref="SinkLogger" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="AllLogger" />
		<appender-ref ref="StdoutLogger" />
	</root>
</configuration>